@*@model IEnumerable<Domain.Entities.Carriage>*@
@model WebUi.ViewModel.CarriageIndexData


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Przesyłka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

        </ul>

    </div>
    <div class="col-xs-10">
        <ul class="nav nav-tabs">

        </ul>
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Nazwa</th>
                <th class="text-right">Paczki zawarte</th>
                <th class="text-center">Akcje</th>
            </tr>
            @foreach (var item in Model.Carriagess)
            {
                <tr>
                    <td class="text-right">@item.CarriageID</td>
                    <td>@Html.ActionLink(item.Target, "Edit", new { item.CarriageID })</td>
                    <td class="text-right">
                        @{ 
                            foreach ( var pack in item.Packss)
                            {
                                @: @pack.Name <br />
                            }

                        }
                    </td>
                    <td class="text-center">
                       
                        @using (Html.BeginForm("Delete", "Carriage", new { item.CarriageID }))
                        {
                            @Html.Hidden("CarriageID", item.CarriageID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Usuń" />


                        }
                        @using (Html.BeginForm("Details", "Carriage", new { item.CarriageID }))
                        {
                            @Html.Hidden("ID", item.CarriageID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Szczegóły" />


                        }

                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-10">
        <div class="panel-footer">
            @Html.ActionLink("Dodaj nowy przewóz", "Create", null,
            new { @class = "btn btn-default" })
        </div>
    </div>
</div>
