@model Domain.Entities.Transportfleet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>
        </ul>

    </div>
    <div class="col-xs-10">
        <dt>
            @Html.DisplayNameFor(model => model.Carname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maxcapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maxcapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extrainformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extrainformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Registrationnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registrationnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <p>
           
            @Html.ActionLink("Wróć do listy", "Index")
        </p>
    </div>

</div>





