@model Domain.Entities.Transportfleet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>

+




    <div class="row">
        <div class="col-xs-2">

            <ul class="nav nav-pills nav-stacked span3">
                <li class="nav-link active"><a href="#">CRM</a></li>
                <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
                <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
                <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
                <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

            </ul>

        </div>
        <div class="col-xs-10">

            <ul class="nav nav-tabs">
                <h3>Edycja @Model.Carname</h3>
               
            </ul>
            @using (Html.BeginForm("Edit", "Transportfleet"))
            {
                <div class="panel-body">
                    @Html.HiddenFor(m => m.TranID)


                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "TranID")
                        {
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>

                                @if (property.PropertyName == "Carname")
                                {

                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "Owner")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }
                                @if (property.PropertyName == "StartDate")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "Model")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "Maxcapacity")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "Extrainformation")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control", rows = 3 })
                                }

                                @if (property.PropertyName == "Registrationnumber")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "VIN")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control" })
                                }

                                @if (property.PropertyName == "Active")
                        {
                                    @Html.DropDownListFor(m => m.Active, new SelectList(Enum.GetNames(typeof(Domain.Entities.Active))))

                                }

                                @Html.ValidationMessage(property.PropertyName)




                                @Html.ValidationMessage(property.PropertyName)


                            </div>
                        }
                    }
                </div>


                <div class="panel-footer">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
               {
                   @class = "btn btn-default"
               })
                </div>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='StartDate'>
                                    <input type='text' class="form-control" name="StartDate" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
            $(function () {
                $('#StartDate').datetimepicker();
            });
                        </script>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
