@model Domain.Entities.Transportfleet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.AntiForgeryToken()
<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>

+




    <div class="row">
        <div class="col-xs-2">

            <ul class="nav nav-pills nav-stacked span3">
                <li class="nav-link active"><a href="#">CRM</a></li>
                <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
                <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
                <li>@Html.ActionLink("Przesyłka", "Index", "Packs")</li>
                <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

            </ul>

        </div>
        <div class="col-xs-10">

            <ul class="nav nav-tabs">
                <h3>Edycja @Model.Carname</h3>
               
            </ul>
            @Html.AntiForgeryToken()
            @using (Html.BeginForm("Edit", "Transportfleet"))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    @Html.HiddenFor(m => m.TranID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Carname, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Carname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Carname, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Owner, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Owner, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Maxcapacity, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Maxcapacity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Maxcapacity, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Extrainformation, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Extrainformation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Extrainformation, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Registrationnumber, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Registrationnumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Registrationnumber, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VIN, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.VIN, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VIN, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.actID, new { @class = "control-label col-md-7" })

                        @Html.DropDownList("actID", null, htmlAttributes: new { @class = "form-control" })



                        
                    </div>




                </div>


                <div class="panel-footer">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
               {
                   @class = "btn btn-default"
               })
                </div>
            
            }
        </div>
    </div>
</div>
