@model PagedList.IPagedList<Domain.Entities.Transportfleet>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/")jquery-1.10.2.js"></script>
<script type="text/javascript">
                $(document).ready(function () {
                    $('#checkBoxAll').click(function () {
                        if ($(this).is(":checked"))
                            $('.chkCheckBoxId').prop('checked', true);
                        else
                            $('.chkCheckBoxId').prop('checked', false);
                    });
                });
</script>



<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Przesyłka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>
        </ul>

    </div>
    <div class="col-xs-10">
       
            <ul class="nav nav-tabs">

            </ul> 

        @using (Html.BeginForm("Index", "Transportfleet", FormMethod.Get))
        {
            <p>
                Wyszukaj nazwę transportu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                <input type="submit" value="Szukaj" />

                Aktywność: @Html.DropDownList("SelectedAct", "All")
                <input type="submit" value="Szukaj" />
             
            </p>
        }


@using (Html.BeginForm("Index", "Transportfleet", FormMethod.Post))
{ <input type="submit" class="btn-danger" value="Usuń" onclick="return confirm('Napewno chcesz usunąć wszystkie zaznaczone pozycje?')" />

        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right"><input type="checkbox" id="checkBoxAll" /></th>
                <th class="text-right">ID</th>
                <th class="text-right">Nazwa transportu</th>
                <th class="text-right">Kierowca</th>
                <th class="text-right">Atywność</th>
                <th class="text-center">Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <th class="text-right"><input type="checkbox" class="chkCheckBoxId" value="@item.TranID" name="TranID" /></th>
                    <td class="text-right">@item.TranID</td>
                    <td class="text-right">@item.Carname.ToString()</td>
                    <td class="text-right">@item.Owner.ToString()</td>
                    <td class="text-right">@item.Act.Active.ToString()</td>
                    <td class="text-center">
                        
                        @Html.ActionLink("Edytuj", "Edit", new { item.TranID }, new { @class = "btn btn-success btn-xs" })

                     
                        @Html.ActionLink("Szczegóły", "Details", new { item.TranID }, new { @class = "btn btn-primary btn-xs" })




                    </td>
                </tr>
            }
        </table>
}
        <div class="panel-footer">
            @Html.ActionLink("Dodaj nowy transport", "Create", null,
            new { @class = "btn btn-default" })
            <div class="btn-group pull-right">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            </div>
            <div class="btn-group pull-right">

              @*  @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions { LinkToFirstPageFormat = String.Format("Pierwsza strona"), LinkToPreviousPageFormat = String.Format("<"), LinkToNextPageFormat = String.Format(">"), LinkToLastPageFormat = String.Format("Ostatnia strona"), MaximumPageNumbersToDisplay = 5 })


            </div>
        </div>
    </div>
    
</div>
