@model IEnumerable<Domain.Entities.Transportfleet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Ludzie", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>

        </ul>

    </div>
    <div class="col-xs-10">
        @*
            <ul class="nav nav-tabs">

                <li>@Html.ActionLink("Ludzie", "Index", "Admin")</li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul> *@
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th>Nazwa</th>
                <th class="text-right">Telefon</th>
                <th class="text-center">Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.ID</td>
                    <td>@Html.ActionLink(item.Carname, "Edit", new { item.ID })</td>
                    <td class="text-right">eeee</td>
                    <td class="text-center">
                        @Html.ActionLink("Details", "Details", new { item.ID })
                        @using (Html.BeginForm("Delete", "Transportfleet"))
                        {
                            @Html.Hidden("ID", item.ID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Usuń" />


                        }

                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-10">
        <div class="panel-footer">
            @Html.ActionLink("Dodaj nowy produkt", "Create", null,
            new { @class = "btn btn-default" })
        </div>
    </div>
</div>
