@model Domain.Entities.Warehouses

@{
    ViewBag.Title = "Admin: Edycja " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.AntiForgeryToken()

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>




    <div class="row">
        <div class="col-xs-2">

            <ul class="nav nav-pills nav-stacked span3">
                <li class="nav-link active"><a href="#">CRM</a></li>
                <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
                <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
                <li>@Html.ActionLink("Przesyłka", "Index", "Packs")</li>
                <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

            </ul>

        </div>
        <div class="col-xs-10">

            <ul class="nav nav-tabs">
                <h3>Edycja @Model.Name</h3>
              
            </ul>
            @Html.AntiForgeryToken()


            @using (Html.BeginForm("Edit", "Warehouses"))
            {
                @Html.AntiForgeryToken()

                <div class="panel-body">
                    @Html.HiddenFor(m => m.WarehousesID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })




                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.Adress, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })




                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Tel, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })




                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PostalCode, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NIP, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })




                    </div>
                
                    <div class="form-group">
                        @Html.LabelFor(model => model.actID, new { @class = "control-label col-md-7" })

                        @Html.DropDownList("actID", null, htmlAttributes: new { @class = "form-control" })




                    </div>


                </div>

                <div class="panel-footer">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
               {
                   @class = "btn btn-default"
               })
                </div>
            }
        </div>
    </div>
