@model IEnumerable<Domain.Entities.Warehouses>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>
        </ul>

    </div>
    <div class="col-xs-10">
        
            <ul class="nav nav-tabs">

                
            </ul> 
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">ID</th>
                <th class="text-right">Nazwa</th>
                <th class="text-right">Adres</th>
                <th class="text-right">Telefon</th>
                <th class="text-right">Aktywność</th>
                <th class="text-center">Akcje</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">@item.WarehousesID</td>
                    <th class="text-right">@item.Name.ToString()</th>
                    <td class="text-right">@item.Adress.ToString()</td>
                    <td class="text-right">@item.Tel.ToString()</td>
                    <td class="text-right">@item.Active.ToString()</td>
                    <td class="text-center">
           
                          
                            @Html.ActionLink("Edytuj", "Edit", new { item.WarehousesID }, new { @class = "btn btn-success btn-xs"} )
                                                     

                            @using (Html.BeginForm("Delete", "Warehouses", new { item.WarehousesID }))
                            {
                                @Html.Hidden("WarehousesID", item.WarehousesID)
                                <input type="submit"
                                       class="btn btn-danger btn-xs"
                                       value="Usuń" />
                            }
                            @using (Html.BeginForm("Details", "Warehouses", new { item.WarehousesID }))
                            {
                                @Html.Hidden("ID", item.WarehousesID)
                                <input type="submit"
                                       class="btn btn-primary btn-xs"
                                       value="Szczegóły" />


                            }
                           
</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-10">
        <div class="panel-footer">
            @Html.ActionLink("Dodaj nowy produkt", "Create", null,
            new { @class = "btn btn-default" })
        </div>
    </div>
</div>
