@model Domain.Entities.Person

@{
    ViewBag.Title = "Admin: Edycja " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Przesyłka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

        </ul>

    </div>
    <div class="col-xs-10">
        <ul class="nav nav-tabs">
            <h3>Szczegółowe dane kontrahenta @Model.Name</h3>

        </ul>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Concern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concern)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.ConcernAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcernAdress)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.NIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <p>

            @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-default" })
        </p>
        


    </div>
   
</div>





























































