@model Domain.Entities.Person

@{
    ViewBag.Title = "Admin: Edycja " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>

<div class="panel">
    <div class="panel-heading">
        <h3>Edycja @Model.Name</h3>
    </div>



    <div class="row">
        <div class="col-xs-2">

            <ul class="nav nav-pills nav-stacked span3">
                <li class="nav-link active"><a href="#">CRM</a></li>
                <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
                <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
                <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
                <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

            </ul>

        </div>
        <div class="col-xs-10">

            <ul class="nav nav-tabs">

            </ul> 
            @using (Html.BeginForm("Edit", "Admin"))
            {
                <div class="panel-body">
                    @Html.HiddenFor(m => m.personID)



                    
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "personID")
                        {
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>
                           
                                @if (property.PropertyName == "Adress")
                        {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control", rows = 5 })
                         }
                      
                        else
                        {
                                    @Html.TextBox(property.PropertyName, null,
                                new { @class = "form-control" })
                                }
                               
                                
                                @Html.ValidationMessage(property.PropertyName)
                           


                            </div>
                        }
                    }
                </div>

                <div class="panel-footer">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
       {
           @class = "btn btn-default"
       })
                </div>
            }
        </div>
</div>
</div>