@model Domain.Entities.Packs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-2">

        <ul class="nav nav-pills nav-stacked span3">
            <li class="nav-link active"><a href="#">CRM</a></li>
            <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
            <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
            <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
            <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
            <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>
        </ul>

    </div>


    <div class="col-xs-10">
        <ul class="nav nav-tabs">
            <h3>Szczegóły paczki @Model.Name</h3>

        </ul>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <ul class="nav nav-tabs"><h3></h3></ul>

        <dt>
            @Html.DisplayNameFor(model => model.wymiarX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wymiarX)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.wymiarY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wymiarY)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.wymiarZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wymiarZ)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.Waga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waga)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.dataprzyjeciadomagazynu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataprzyjeciadomagazynu)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.datawyslaniazmagazynu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datawyslaniazmagazynu)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.dataodebrania)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataodebrania)
        </dd>
        <ul class="nav nav-tabs"><h3></h3>
</ul>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouses.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouses.Name)
        </dd>
        <ul class="nav nav-tabs">
            <h3></h3>

        </ul>

        <p>

            @Html.ActionLink("Wróć do listy", "Index", null, new { @class = "btn btn-default" })
        </p>
    </div>

</div>




