@model Domain.Entities.Packs

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@Html.AntiForgeryToken()


<div class="navbar navbar-inverse" role="navigation">

    <a class="navbar-brand" href="@Url.Action("List","Person")">Aplikacja</a>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("About", "About", "Navigator")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Navigator")</li>
    </ul>
</div>


<div class="panel">
    <div class="panel-heading">
        <h3>Edycja @Model.Name</h3>
    </div>
    @Html.AntiForgeryToken()






    <div class="row">
        <div class="col-xs-2">

            <ul class="nav nav-pills nav-stacked span3">
                <li class="nav-link active"><a href="#">CRM</a></li>
                <li>@Html.ActionLink("Kontrahent", "Index", "Admin")</li>
                <li>@Html.ActionLink("Magazyny", "Index", "Warehouses")</li>
                <li>@Html.ActionLink("Transport", "Index", "Transportfleet")</li>
                <li>@Html.ActionLink("Paczka", "Index", "Packs")</li>
                <li>@Html.ActionLink("Przewoz", "Index", "Carriage")</li>

            </ul>

        </div>
        <div class="col-xs-10">

            <ul class="nav nav-tabs">

              
            </ul>
            @using (Html.BeginForm("Edit", "Packs"))
            {
                @Html.AntiForgeryToken()

                <div class="panel-body">
                    @Html.HiddenFor(m => m.PacksID)
                    @Html.HiddenFor(m => m.Warehouses)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-7" })
                        
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })



                  
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerDescription, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.OwnerDescription, new { htmlAttributes = new { @class = "form-control" }, rows = 3 })


                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.wymiarX, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.wymiarX, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.wymiarX, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.wymiarY, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.wymiarY, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.wymiarY, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.wymiarZ, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.wymiarZ, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.wymiarZ, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Waga, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.Waga, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Waga, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dataprzyjeciadomagazynu, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.dataprzyjeciadomagazynu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dataprzyjeciadomagazynu, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.datawyslaniazmagazynu, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.datawyslaniazmagazynu, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.datawyslaniazmagazynu, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.dataodebrania, new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.dataodebrania, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.dataodebrania, "", new { @class = "text-danger" })




                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.WarehousesID, new { @class = "control-label col-md-7" })

                        @Html.DropDownList("WarehousesID", null, htmlAttributes: new { @class = "form-control" })




                    </div>
                 


                                      

                @*  @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "PacksID")
                        {
                            <div class="form-group">
                                <label>@(property.DisplayName ?? property.PropertyName)</label>

                                @if (property.PropertyName == "Name")
                                {
                                    @Html.TextArea(property.PropertyName, null,
                                new { @class = "form-control", rows = 0 })
                                }
                                @if (property.PropertyName == "WarehousesID")
                                {      
                                @Html.DropDownList("WarehousesID", null, htmlAttributes: new { @class = "form-control" }) 
                                    @*  @Html.DropDownList("WarehousesID", String.Empty)
                                                                        }



                                                                        else
                                                                        {
                                                                            @Html.TextBox(property.PropertyName, null,
                                                                        new { @class = "form-control" })
                                                                        }
                                                                        @Html.ValidationMessage(property.PropertyName)

                                                                    </div>
                                                                }
                                                            }
            *@
            
                                                        </div>

                                                        <div class="panel-footer">




                                                            <input type="submit" value="Zapisz" class="btn btn-primary" />
                                                            @Html.ActionLink("Anuluj i wróć do listy", "Index", null, new
                                                       {
                                                           @class = "btn btn-default"
                                                       })
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

